In [2]:
import pandas as pd

In [4]:
### 1. 파일열기
tourney_result_file_name = "tourney_result_250118_004156.csv"
df = pd.read_csv("./tourney_result/" + tourney_result_file_name, encoding='utf-8')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          131 non-null    object
 1   tourney_name  131 non-null    object
 2   organizer     131 non-null    object
 3   players       131 non-null    int64
 4   winner        131 non-null    object
 5   country       131 non-null    object
 6   url           131 non-null    object
dtypes: int64(1), object(6)
memory usage: 7.3+ KB

In [5]:
df.head()

,date,tourney_name,organizer,players,winner,country,url
0,2025-01-17,Flash Friday #4,Pokemon Downunder,163,Manbok,Korea,play.limitlesstcg.com/tournament/67848af07960e...
1,2025-01-17,Torneio TD PADRO - 2#/Janeiro - Free - BR,Thiago Donola,156,00_kj7,Japan,play.limitlesstcg.com/tournament/6780a9c67960e...
2,2025-01-17,Team Rocket Pocket Cup #25,Team Rocket,127,Manaa,Japan,play.limitlesstcg.com/tournament/6774a709ed2c7...
3,2025-01-17,Team Rocket Pocket Cup #24,Team Rocket,211,bau,Japan,play.limitlesstcg.com/tournament/6774a6d7ed2c7...
4,2025-01-16,The Dark League Wednesday #3,The Dark League,167,kinkakuj,Japan,play.limitlesstcg.com/tournament/6786a39f99961...

In [9]:
p0 = df['players'][0]
type(p0)

numpy.int64

In [14]:
### 우승자 국가 통계 : 선거인단 방식

country_players_sum = df.groupby('country')['players'].sum().reset_index()
df_1 = pd.DataFrame(country_players_sum)
df_1 = df_1.sort_values('players', ascending=False)    # 'players' 열을 기준으로 내림차순 정렬

print(df_1)

          country  players
13          Japan     7328
20  United States     6572
7          France     4806
21        Unknown     2751
12          Italy     2556
2          Brazil     1949
8         Germany     1766
14          Korea     1365
11      Indonesia      970
17          Spain      709
10      Hong Kong      653
5           China      607
4           Chile      607
9   Great Britain      493
3          Canada      453
15       Malaysia      441
16    Philippines      366
1         Bolivia      292
6        Colombia      276
19         Taiwan      165
0       Australia      106
18         Sweden       85

In [15]:
### 우승자 국가 통계 : 카운팅

country_counts = df['country'].value_counts().reset_index()
country_counts.columns = ['country', 'count']

df_2 = pd.DataFrame(country_counts)
df_2 = df_2.sort_values('count', ascending=False)

# 결과를 출력합니다.
print(df_2)

          country  count
0           Japan     34
1   United States     16
2         Unknown     13
3          France      9
4          Brazil      8
5           Korea      7
6           Italy      6
7         Germany      6
8       Indonesia      5
12         Canada      3
11    Philippines      3
10          Spain      3
9           China      3
13      Hong Kong      2
14       Malaysia      2
15         Taiwan      2
16       Colombia      2
17  Great Britain      2
18          Chile      2
19      Australia      1
20        Bolivia      1
21         Sweden      1

In [16]:
### 우승자 통계 : 카운팅

winner_counts = df['winner'].value_counts().reset_index()
winner_counts.columns = ['winner', 'count']

df_3 = pd.DataFrame(winner_counts)
df_3 = df_3.sort_values('count', ascending=False)

# 결과를 출력합니다.
print(df_3)

             winner  count
0               Duo      4
2     Penguinperson      2
3         PIPPIKING      2
4    ArcaninosShiny      2
5          pain0xe1      2
..              ...    ...
41     PlayboiPocky      1
40          Nicolay      1
39      farexdewitt      1
38     DaiCavallo00      1
118        Xatumiko      1

[119 rows x 2 columns]